<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymwang.park.dao.PlaceMapper">
  <resultMap id="BaseResultMap" type="com.ymwang.park.model.Place">
    <id column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="park_id" jdbcType="VARCHAR" property="parkId" />
    <result column="p_num" jdbcType="INTEGER" property="pNum" />
    <result column="reserve_id" jdbcType="VARCHAR" property="reserveId" />
    <result column="inuser_id" jdbcType="VARCHAR" property="inuserId" />
  </resultMap>
  <sql id="Base_Column_List">
    p_id, park_id, p_num, reserve_id, inuser_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from place
    where p_id = #{pId,jdbcType=VARCHAR}
  </select>
  <select id="queryPlace" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from place
    where park_id = #{parkId,jdbcType=VARCHAR}
  </select>
  <select id="reservePlace" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from place
    where reserve_id = #{reserveId,jdbcType=VARCHAR}
  </select>

  <select id="placeTotal" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
      count(1)
    from place where park_id = #{parkId,jdbcType=VARCHAR}
  </select>
  <select id="placeSurplus" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
      count(1)
    from place where park_id = #{parkId,jdbcType=VARCHAR} AND reserve_id IS NULL AND inuser_id IS NULL
  </select>

  <select id="inusePlace" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from place
    where p_num = #{pNum,jdbcType=INTEGER} and park_id = #{parkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from place
    where p_id = #{pId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ymwang.park.model.Place">
    insert into place (p_id, park_id, p_num, 
      reserve_id, inuser_id)
    values (#{pId,jdbcType=VARCHAR}, #{parkId,jdbcType=VARCHAR}, #{pNum,jdbcType=INTEGER}, 
      #{reserveId,jdbcType=VARCHAR}, #{inuserId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ymwang.park.model.Place">
    insert into place
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        p_id,
      </if>
      <if test="parkId != null">
        park_id,
      </if>
      <if test="pNum != null">
        p_num,
      </if>
      <if test="reserveId != null">
        reserve_id,
      </if>
      <if test="inuserId != null">
        inuser_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="parkId != null">
        #{parkId,jdbcType=VARCHAR},
      </if>
      <if test="pNum != null">
        #{pNum,jdbcType=INTEGER},
      </if>
      <if test="reserveId != null">
        #{reserveId,jdbcType=VARCHAR},
      </if>
      <if test="inuserId != null">
        #{inuserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ymwang.park.model.Place">
    update place
    <set>
      <if test="parkId != null">
        park_id = #{parkId,jdbcType=VARCHAR},
      </if>
      <if test="pNum != null">
        p_num = #{pNum,jdbcType=INTEGER},
      </if>
      <if test="reserveId != null">
        reserve_id = #{reserveId,jdbcType=VARCHAR},
      </if>
      <if test="inuserId != null">
        inuser_id = #{inuserId,jdbcType=VARCHAR},
      </if>
    </set>
    where p_id = #{pId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ymwang.park.model.Place">
    update place
    set park_id = #{parkId,jdbcType=VARCHAR},
      p_num = #{pNum,jdbcType=INTEGER},
      reserve_id = #{reserveId,jdbcType=VARCHAR},
      inuser_id = #{inuserId,jdbcType=VARCHAR}
    where p_id = #{pId,jdbcType=VARCHAR}
  </update>
</mapper>